/* test override */

/* @import must be at top of file, otherwise CSS will not work */
@import url("https://hello.myfonts.net/count/3c818d?css");

@font-face {
  font-family: 'Cheltenham';
  src: url('../font/CheltenhamITCPro-Light.woff2') format('woff2'), url('../font/CheltenhamITCPro-Light.woff') format('woff');
}


:root {
  --font-body: 'Work Sans', sans-serif;
  --font-titles: 'Cheltenham', serif;
  --forest: #2B4835;
  --dark-forest: #223C2B;
  --spring: #2FF141;
  --canopy: #1eaf32;
  --sand: #E9EDD9;
  --white: #F2F5EC;
  --bold: 600;
  --regular: 400;
  --light: 300;
  --line-h-normal: 2em;
  --line-h-small: 1em;
  --text-regular: 16px;
  --h-big: 78px;
  --h-get-started: 58px;
  --h-plus: 52px;
  --h-normal: 42px;
  --h-small: 32px;
  --h-article: 26px;
  --col-4: 66.66%;
  --col-3: 50%;
  --col-2: 33.33%;
  --col-1: 16.66%;
  --kerning: -.05em;
  --kerning-p: -0.01em;
}

body,
.grafana-app body,
body.body-dashboard,
body.body-dashboard .grafana-app body {
  letter-spacing:-.03em!important;
}

.grafana-app nav.sidemenu{

}

.grafana-app .page-toolbar  {

}


.grafana-app,
.grafana-app .css-1mwktlb {
  background-color:var(--dark-forest);
  background-image:url('https://joinseeds.earth/img/menu-leaves.png');
  background-repeat: no-repeat;
}

.css-1xodasp {
    padding: 0px 46px 46px;
}


.grafana-app {
  font-family:var(--font-body)!important;
}



.grafana-app .react-grid-layout .react-grid-item:first-child {
  display:none;
}

.grafana-app h1,
.grafana-app h2,
.grafana-app h3,
.grafana-app h4 {
  font-family:var(--font-body)!important;
  color:var(--spring);
  text-transform: lowercase;
  font-size: 12px!important;
}

.grafana-app .panel-height-helper {
  display:none;
}

.grafana-app .panel-container {
  border-radius:12px;
  background:var(--forest);
  box-shadow:0px 0px 12px rgba(0,0,0,0.26);
  overflow:hidden;
}

.grafana-app .panel-title {
  background-color:var(--dark-forest);
}
.grafana-app .panel-content,
.grafana-app .flot-temp-elem {
  color:var(--white)!important;
}



.panel-info-corner--info .panel-info-corner-inner {
  display:none;
}

.panel-info-corner {
    color: var(--spring);
    cursor: pointer;
    position: absolute;
    left: 3px;
    width: 18px;
    height: 18px;
    z-index: 2;
    top: 3px;
    border-radius: 100%;
    border: 1px solid;
    border-color: var(--spring);
    opacity:.3;
}

.panel-info-corner:hover {
  opacity:1;
}

div[data-panelid="66"] .panel-content div div div,
div[data-panelid="69"] .panel-content div div div,
div[data-panelid="50"] .panel-content div div div,
div[data-panelid="99"] .panel-content div div div,
div[data-panelid="100"] .panel-content div div div,
div[data-panelid="81"] .panel-content div div div,
div[data-panelid="63"] .panel-content div div div{
  background: rgb(51, 113, 52)!important;
}

div[data-panelid="101"] div[title="Field 1"] {
  background:var(--forest)!important;
}

div[data-panelid="101"] div[title="Field 1"] span {
  color:var(--white)!important;
  font-weight: 300!important;
}

div[data-panelid="63"] .panel-content div div div {
  text-transform: lowercase!important;
  color:var(--white)!important;
}


@media screen and (max-width : 780px) {

  .grafana-app .react-grid-layout .react-grid-item:first-child {
    opacity:0;
    pointer-events: none;
  }

}


@media screen and (max-width : 660px) {

  .css-1xodasp {
      padding: 0px 16px 16px;
  }

}
