
:root {
  --dark-forest: #173B2A;
}

  .accent-color {
  color:var(--spring);
  }

  img { display: block; }


#opt-in-header {
    width:100%;
    height:440px;
    background-color: var(--dark-forest);
    background-image: url("https://newsletters.hypha.earth/asset/19:seeds-preference-center-header-bg?stream=1");
    background-repeat:no-repeat;
    background-size: auto 400px;
  }

  .cent-header {
    width:calc(100% - 32px);
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }

  img.top-logo-roung {
    width:72px;
    margin:auto;
  }

  img.top-logo-white {
    width: 210px;
    margin: 12px auto;
    transform: translateX(6px);
  }

  img.tri-spring {
    width:32px;
    margin:30px auto;
  }

  .cent-header {
    color:var(--sand);
  }

  #main-opt-in {
    background-color:var(--sand);
  }

  #pref-center-mautic {
    background:var(--white);
    border-radius:20px;
    box-shadow:0px 0px 12px rgba(0,0,0,0.1);
    max-width:800px;
    width:calc(100% - 80px);
    margin:auto;
    transform:translateY(-120px);
    -moz-transform: translateY(-120px);
    -webkit-transform: translateY(-120px);
    box-sizing: border-box;
    padding:40px;
    min-height:400px;
  }

  footer {
    height:max-content;
  }

  .title-nl-form {
    text-align:center;
  }

  .the-price {
    max-width:600px;
    text-align: center;
    margin:40px auto;
  }

  .form-wrap {
    position:relative;
    margin:80px 0px 0px 0px;
  }

  .form-wrap:before {
    position:absolute;
    content:'';
    height:calc(100% - 60px);
    width:calc(100% + 80px);
    background:var(--sand);
    left:-40px;
    top:-40px;
  }

  .full-w,
  .top-data {
    width:100%;
    min-width:100%;
    text-align:center;
    position:relative;
  }

  .multi {
    margin-top:40px;
    width:100%;
  }

  .top-data h4 {
    margin-top: 0!important;
    font-size: 32px!important;
    margin-bottom: 30px!important;
  }

  .full-w h4 {
    margin-top: 0!important;
    font-size: 32px!important;
    margin-bottom: 30px!important;
  }

  .full-w p {
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
  }

#mauticform_multisubscribeseeds_privacy_and_terms.mauticform-row {
  width: 100%;
  padding:12px 12px 0px 12px;
  background-color:rgba(255,255,255,0.4);

}


#mauticform_multisubscribeseeds_privacy_and_terms .mauticform-checkboxgrp-row {
  background:none;
  padding:0;
  box-shadow: 0px 0px 0px transparent;
}

#mauticform_multisubscribeseeds_privacy_and_terms .together-s {
  display:flex;
  width:100%;
  margin-top:15px;
}
  .mauticform-row {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    width: calc(50% - 20px);
  }

  .mauticform-page-wrapper {
    justify-content: space-between;
  }

  .mauticform-selectbox,
  .mauticform-input {
      min-width:100%;
      max-width:100%;
  }

  #mauticform_multisubscribeseeds_multi_segment {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:40px;
  }

.mauticform-checkboxgrp-row  {
    width: max-content;
    height: auto;
    background: var(--light-sand);
    border-radius: 40px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 6%);
    position: relative;
    justify-content: center;
    padding: 10px 20px 10px 16px;
    min-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    line-height:2em;
  }

  .mauticform-checkboxgrp-row label {
    cursor:pointer;
  }

  #mauticform_multisubscribeseeds_submit {
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom:0;
    margin-top:60px;
  }



  /*channel info static section*/

          #channel-info {
            max-width: 800px;
            width: calc(100% - 80px);
            margin:auto;
            padding-bottom:80px;
            margin-top:-20px;
          }

          .ci-tit {
            min-width:100%;
          }

          .ci-tit h4 {
              margin-top: 0!important;
              font-size: 32px!important;
              margin-bottom:50px!important;
              text-align:center;
          }

          .channel-grid {
            width:100%;
            position:relative;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .channel-item {
            width:48%;
            background:var(--light-sand);
            margin-bottom:40px;
            border-radius:20px;
            box-shadow:0px 0px 12px rgba(0,0,0,0.06);
            overflow: hidden;
          }

          .ci-image-wrap {
            width:100%;
            position:relative;
            overflow: hidden;
            height:0;
            padding-bottom:62%;
          }

          .ci-image-wrap img {
            width:100%;
          }

          .text-content {
            padding:0px 26px 40px 26px;
            box-sizing: border-box;
            text-align:center;
          }

          .text-content h4 {
            font-size:32px!important;
            margin-bottom:30px!important;
            margin-top:40px!important;
          }

          .text-content a {
            color:var(--spring);
            font-weight:600;
            text-decoration: none;
            position:relative;
          }

          .text-content a:before {
            content:"";
            position:absolute;
            bottom:-3px;
            width:0%;
            height:1px;
            background:var(--spring);
            transition-duration:.2s;
            -moz-transition-duration:.2s;
            -webkit-transition-duration:.2s;
          }

          .text-content a:hover:before {
            width:100%;
          }


          @media screen and (max-width : 800px) {
                        #channel-info {
                          margin-top:-40px;
                        }

                        #mauticform_multisubscribeseeds_privacy_and_terms .together-s {
                          display:block;
                        }

                        #mauticform_multisubscribeseeds_privacy_and_terms.mauticform-row {
                          padding:12px 0px 0px 0px;
                        }

                        #mauticform_multisubscribeseeds_privacy_and_terms .mauticform-checkboxgrp-row {
                          width: 100%;
                          margin-left: 0;
                        }

                        #mauticform_multisubscribeseeds_privacy_and_terms label {
                          letter-spacing: -1px;
                        }
                    }

                    @media screen and (max-width : 600px) {
                        #opt-in-header {
                          height: 380px;
                          background-size: auto 320px;
                        }

                        #pref-center-mautic {
                          padding:22px;
                          transform: translateY(-60px);
                          -moz-transform: translateY(-60px);
                          -webkit-transform: translateY(-60px);
                        }
                        #channel-info {
                          margin-top:0px;
                        }

                        .channel-item {
                          width:100%;
                        }

                        .text-content {
                          padding:0px 22px 30px 22px;
                        }

                        .text-content h4 {
                          font-size:28px;
                          margin-bottom: 26px;
                          margin-top: 28px;
                        }

                        #footer {
                          padding:40px 16px;
                        }

                        div#contact-segments:before {
                          left:-22px;
                          width:calc(100% + 44px);
                        }

                        #pref-center-mautic,
                        #channel-info {
                          width:calc(100% - 50px);
                        }

                        .mauticform_wrapper h3 {
                          font-size: 30px;
                        }
                        .form-wrap:before {
                          height: calc(100% - 60px);
                          width: calc(100% + 44px);
                          background: var(--sand);
                          left: -22px;
                          top: -40px;
                        }

                        .mauticform-label {
                          text-align: center;
                        }

                        .mauticform-checkboxgrp-row {
                          margin:0px 10px 20px 10px;
                        }
                    }
