/* actual CSS*/

#join-widget {
    min-height: 500px;
    background-color: var(--white);
    max-width: 640px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.1);
    position: relative;
    margin-top: -128px;
    transition-duration: .6s;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    opacity: 1;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    position:relative;
    overflow:hidden;
}

#join-widget:before {
  position:absolute;
  content:"";
  bottom:0;
  width:100%;
  height:100px;
  background-color:var(--sand);
}


section.multistep.close #join-widget {
  opacity:0;
  transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
}

.buy-intro .spring {
  font-family:var(--font-body);
  font-weight: 400;
  letter-spacing: -2px;
}

.buy-claim.widget {
  font-size: 18px!important;
}

a[class^='join-seeds'] {
  display: inline-block;
}
button[class^='join-seeds'] {
  border: none;
  cursor: pointer;
}
button[class^='join-seeds']:focus {
  outline: none;
}

a[class^='join-seeds'],
button[class^='join-seeds'] {
    --join-seeds-original-width: 300px;
   --join-seeds-original-height: 109px;

  height: calc(var(--join-seeds-original-height) / 2);
  width: calc(var(--join-seeds-original-width) / 2);
  cursor: default;
}

.join-seeds-dark {
  background: url("../../img/widgets/join-seeds/join-seeds-dark.svg") no-repeat left top;
}
.join-seeds-light {
  background: url("../../img/widgets/join-seeds/join-seeds-light.svg") no-repeat left top;
}
.join-seeds-white {
  background: url("../../img/widgets/join-seeds/join-seeds-white.svg") no-repeat left top;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;

}

#join-seeds-form {
margin-top: 50px;
}

.actual-field {
    padding-top: 50px;
    margin-top:0;
    padding-bottom: 20px;
}

.steps-wrapper .label {
    margin-bottom: 25px;
    display: block;
    text-align: center;
}

.radios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.radios > .radios-button-style {

}


.radios > .radios-button-style input {
    min-width: 0;
}

.radios > .radios-button-style  > button,
.radios > .radios-button-style  > div  {
    margin-bottom: 10px;
}

.joinseeds-theme-dark {
     --join-seeds-theme-dark-width: 670px;
     --join-seeds-theme-dark-height: 832px;

    height: calc(var(--join-seeds-theme-dark-height) / 3);
    width: calc(var(--join-seeds-theme-dark-width) / 3);
    background-image: url("../../img/widgets/join-seeds/join-seeds-theme-dark.svg");
    background-size: cover;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.joinseeds-theme-light {
     --join-seeds-theme-light-width: 670px;
     --join-seeds-theme-light-height: 832px;

    height: calc(var(--join-seeds-theme-light-height) / 3);
    width: calc(var(--join-seeds-theme-light-width) / 3);
    background-image: url("../../img/widgets/join-seeds/join-seeds-theme-light.svg");
    background-size: cover;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}


.field .control {
  max-width:80%;
}

.actual-field textarea.input {
  min-width: 100%;
  box-sizing: border-box;
  border-radius:20px;
}

input[type="radio" i] {
  cursor:pointer;
}

p.helper {
    font-size: 12px;
}


/*dynamic verification*/


.verification-icons {
    position: absolute;
    left: -30px;
    height: 22px;
    width: 22px;
    top:58px;
  }

  .verification-icons img {
    width: 22px;
    position: absolute;
    opacity: 0;
    left:0;
}

.verification-icons img.show {
    opacity: 1;
}

input#org-id.yess {
    border: 1px solid var(--spring);
}

input#org-id.wrong {
    border: 1px solid #D8772E;
}

.please-verify {
    margin-top: 8px;
    color: #D8772E;
    letter-spacing: -1px;
    font-size: 14px;
}

p#verify-org-id,
p#real-widget-button,
p#real-widget-copy {
  padding: 15px 20px;
  border-radius: 26px;
  background-color: var(--spring);
  color: var(--forest);
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  position: relative;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  line-height: 1.2em;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  white-space: nowrap;

}

p#real-widget-clear {
  padding: 15px 20px;
  border-radius: 26px;
  background-color: var(--white);
  color: var(--forest);
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  position: relative;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  line-height: 1.2em;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  white-space: nowrap;

}


.wrap-shower,
.wrap-real-widget  {
  height:0;
  overflow:hidden;
  transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

.wrap-shower.open,
.wrap-real-widget.open {
      height: max-content;
      overflow: initial;
}

.steps-wrapper {

    background: transparent;
    background-color: transparent;
    border: none;
    border-radius: 16px;
    position: relative;
  }

  .actual-field.sand-back {
    padding:0;
  }

  .inactivate {
    pointer-events: none;
  }

  .hide {
    display:none!important;
  }

  .flexier {
    padding-top:20px;
    display: flex;
    justify-content: space-around;
    max-width: max-content;
    margin: auto;
  }

  .flexier p#real-widget-clear {
    margin-right:24px;
  }

  #fake-alert-box{
    width:300px;
    height:max-content;
    background:var(--white);
    border-radius:20px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
    position:fixed;
    padding:80px 40px;
    z-index:1000;
    left:50%;
    top:50%;
    transform:translate(-50% , -50%);
    display: flex;
    align-items: center;
    text-align:center;
  }

  #close-fake {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--forest);
    cursor: pointer;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;

  }

#close-fake:hover {
    transform: rotate(90Deg);
    -moz-transform: rotate(90Deg);
    -webkit-transform: rotate(90Deg);
}

  #close-fake img {
    width: 18px;
}


@media screen and (max-width : 600px) {
  #join-widget {
        margin-top: -68px;
  }

  .field .control input {
    min-width:unset;
  }

  .field .control {
    max-width: 86%;
  }

  .radios {
    display: flex;
    flex-wrap: wrap;
  }

  .radios-button-style {
    margin-bottom:50px;
  }

  .radios-button-style:last-child {
    margin-bottom:0;
  }

}
